* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 2px solid #f000;
  outline-offset: -1px;
}

/*#region theme*/

:root {
  color-scheme: light-dark;
  --bg-light: #fefefe;
  --bg-dark: #1e1e1e;
  --background: light-dark(var(--bg-light), var(--bg-dark));
  --foreground: light-dark(var(--bg-dark), var(--bg-light));
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

/*#endregion theme*/

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.tags {
  display: flex;
  width: fit-content;
  justify-content: space-between;
}

.tag {
  border: 2px solid #1e1e1e1e;
  border-radius: 16px;
  background-color: #ccf5;
  color: #fefefe;
  font-size: 10px;
  padding: 0 2px;
  outline: none;
  margin-right: 4px;
}

header {
  background-color: #ccf;
  height: 75px;
  display: flex;
  gap: 1em;
  padding: .33em;
  align-items: center;
}

footer {
  background-color: #ccf;
  height: 60px;
}