* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*#region theme*/

:root {
  color-scheme: light dark;
  
  --bg-light: #fefefe;
  --bg-dark: #1e1e1e;
  --background: light-dark(var(--bg-light), var(--bg-dark));

  --foreground-light: #1e1e1e;
  --foreground-dark: #fefefe;
  --foreground: light-dark(var(--foreground-light), var(--foreground-dark));

  /* brown with transparency */
  --primary-color: #6b4c3bf2;
  --accent-color: #789262;
  --link-hover: #a9866f;

  --terracotta: #c96a53;
  --soft-beige: #e8d4c0;
  --muted-green: #8a9a7b;
  --warm-brown: #8b6f47;
  --cream: #f5f0e8;
  --dark-brown: #5c4a3a;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: var(--bg-light);
  color: var(--foreground-light);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-dark);
    color: var(--foreground-dark);
  }
}

/*#endregion theme*/

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.tags {
  display: flex;
  width: fit-content;
  justify-content: space-between;
}

.tag {
  border-radius: 12px;
  background-color: #7a7af9;
  color: #ccf;
  font-size: 12px;
  padding: 5px 12px;
  outline: none;
  margin-right: 10px;
}

/* ============ GLOBAL LAYOUT CSS ============ */

img {
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0);
  white-space: nowrap;
  border: 0;
}